/*Sección About*/
.about {
    display: flex;
    flex-direction: row;
    background-color: var(--color-fondo-celeste);
}

.about__container {
    display: flex;
    flex-direction: column;
    margin: 64px 152px;
}

.about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0px;
}

.about__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    margin: 16px 0px 0px 0px;
}

.about__container img {
    width: 140px;
    height: 52px;
    margin: 16px 0px 0px 0px;
}