/* experiencia*/
.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 152px;
}
.experience__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 64px;
    width: 100%;
}
.experience__section__title {
    margin: 32px 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0px 16px;
}
.experience__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 8px;
}
.experience__text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 8px;
}
.experience__description {
    margin: 8px;
}
.experience__repo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.experience__demo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
