/*Sección Hobbies*/
.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 152px;
    margin-bottom: 56px;
}
.hobbies__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.hobbies__line{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}
.hobbies__box ul{
    padding: 16px;
}
.hobbies__img{
    width: 28px;
    height: 37px;
}
.hobbies__name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}