/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*colores*/
    --color-fondo: #f5f5f5;
    --color-fondo-celeste: #EAF2FD;
    --color-fondo-blanco: #FFFFFF;
    --cor-de-link:#464646;
    --color-texto: #464646;
    --color-texto-azul: #2A7AE4 ;
    --color-texto-blanco: #FFFFFF;
    --color-fondo-azul: #2A7AE4;
    /*tipografias*/
    --fuente-1: 'Raleway';
    --fuente-estilo-1: normal;
}

body {
    box-sizing: border-box;
    font-family: var(--fuente-1);
    font-style: var(--fuente-estilo-1);
    color: var(--color-texto);
    margin: 0px;
    padding: 0px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol,
ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: var(--color-texto);
}
.todo {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    max-width: 1440px;
    margin: 0px;
    padding: 0px;
}
